<config>
    <server disabled="false">
        <port>8080</port>
        <max-clients>-1</max-clients>
    </server>
    <client disabled="false">
        <port>8080</port>
        <host>localhost</host>
        <max-instances>-1</max-instances>
        <spawn-strategy>PARALLEL</spawn-strategy>
        <instances>
            <instance delay="500">
                <request>IDENTITY</request>
                <request>TIME</request>
                <request>TIME</request>
            </instance>
            <instance delay="500">
                <request>IDENTITY</request>
                <request>TIME</request>
                <request>TIME</request>
            </instance>
        </instances>
    </client>
</config>